# Display proper Jinja syntax highlighting

*.html linguist-language=Jinja

# Exclude vendored code from our language stats

assets/static/bootstrap linguist-vendored
assets/static/tether-* linguist-vendored
