      @media (max-width: 767px) {
        .hero-unit {
          padding: 30px;
          font-size: 14px;
        }
        .hero-unit h1 {
          font-size: 42px;
          padding-top: 16px;
        }
        .hero-unit h2 {
          font-size: 16px;
        }
      }

      @media (min-width: 768px) and (max-width: 979px) {
        .thumbnail h2 {
          font-size: 48px;
        }
        .thumbnail h2.python-ios-template {
          font-size: 24px;
        }
        .thumbnail h2.python-android-template {
          font-size: 18px;
        }
        .thumbnail h2.rubicon {
          font-size: 24px;
        }
        .thumbnail h2.cassowary {
          font-size: 24px;
        }
        .thumbnail h2.colosseum {
          font-size: 24px;
        }
        .thumbnail h2.briefcase {
          font-size: 24px;
        }
      }

      @media (min-width: 980px) {
        .thumbnail h2 {
          font-size: 56px;
        }
        .thumbnail h2.python-ios-template {
          font-size: 36px;
        }
        .thumbnail h2.python-android-template {
          font-size: 24px;
        }
        .thumbnail h2.rubicon {
          font-size: 36px;
        }
        .thumbnail h2.briefcase {
          font-size: 36px;
        }
        .thumbnail h2.cassowary {
          font-size: 36px;
        }
        .thumbnail h2.colosseum {
          font-size: 36px;
        }
      }

      h1, h2, h3 {
        font-family: 'Cutive', serif;
      }

      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .thumbnail {
        text-align: center;
      }
      .thumbnails a {
        color: #333;
      }
      .thumbnails a:hover {
        text-decoration: none;
      }
      .thumbnail img {
        padding: 16px;
      }

      div.media .icon {
        font-size: 72pt;
        margin-right: 16pt;
      }

      div.media a:hover {
        text-decoration: none
      }

      div.contacts .icon {
        font-size: 64pt;
        min-width: 96pt;
        min-height: 96pt;
        text-align: center;
        display: block;
      }

      div.contacts a:hover {
        text-decoration: none
      }


