{% from "macros/translation.html" import transbag %}

{% macro render_article_index(article) %}
  {% set t_click_here_article = transbag('translate', article.alt, 'click_here_full_article') %}
  {% set t_by = transbag('translate', article.alt, 'by') %}
  {% set t_published = transbag('translate', article.alt, 'published') %}
  {% set t_space_after_by = transbag('translate', article.alt, 'space_after_by') %}

  <h2><a href="{{ article.url }}"><i class="fa fa-file-text" aria-hidden="true"></i> {{ article.title }}</a></h2>
  <p>
    {{ t_by }}{{ ' ' if t_space_after_by else '' }}{{ article.author }};
    {{ t_published }} {{ article.pub_date.strftime('%-d %B %Y') }}
  </p>
  <p>{{ article.description }}</p>
  <h6><a href="{{ article.url }}">{{ t_click_here_article  }}</a></h6>
{% endmacro %}

{% macro render_article(article) %}
  {{ article.description }}

  <h6><a href="{{ article.url }}"></a>{{ t_click_here_article  }}</h6>
{% endmacro %}
