{% macro render_blog_post(post, from_index=false) %}
  {% if from_index %}
  <h2><a href="{{ post|url(alt=post.alt) }}">{{ post.title }}</a></h2>
  <p class="meta">
    {{ "posted_by"|trans }}
    {% if post.mastodon_handle %}
      <a href="https://{{ post.mastodon_handle.split('@')[2] }}/@{{ post.mastodon_handle.split('@')[1] }}">{{ post.author or post.mastodon_handle }}</a>
    {% elif post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    {{ "on"|trans }} {{ post.pub_date.strftime('%-d %B %Y') }} {{ "post_posted_date"|trans }}
  </p>
  {% endif %}
  {{ post.body }}
{% endmacro %}
