{% from "macros/translation.html" import transbag %}

{% macro render_blog_post(post, from_index=false) %}

  {% set t_posted_by = transbag('translate', post.alt, 'posted_by') %}
  {% set t_on = transbag('translate', post.alt, 'on') %}

  {% if from_index %}
  <h2><a href="{{ post|url(alt=post.alt) }}">{{ post.title }}</a></h2>
  <p class="meta">
    {{ t_posted_by }}
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle}}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    {{ t_on }} {{ post.pub_date.strftime('%-d %B %Y') }}
  </p>
  {% endif %}
  {{ post.body }}
{% endmacro %}
