{% macro render_blog_post(post, from_index=false) %}
  {% if from_index %}
  <h2><a href="{{ post|url(alt=post.alt) }}">{{ post.title }}</a></h2>
  {% set author_link %}
    {% if post.mastodon_handle %}
      <a href="https://{{ post.mastodon_handle.split('@')[2] }}/@{{ post.mastodon_handle.split('@')[1] }}">{{ post.author or post.mastodon_handle }}</a>
    {% elif post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
  {% endset %}
  <p class="meta">
    {% trans date=post.pub_date.strftime('%-d %B %Y') %}
    Posted by {{ author_link }} on {{ date }}
    {% endtrans %}
  </p>
  {% endif %}
  {{ post.body }}
{% endmacro %}
