{% macro member_badge(member) %}
    <img src="/community/team/{{member._id}}/{{ member._id}}.png" width="100%">
    <a href="https://github.com/{{ member.github_handle }}"><i class="fa fa-github fa-lg icon" aria-hidden="true"></i>&nbsp;{{ member.github_handle }}</a>
    <br>
    <a href="https://twitter.com/{{ member.twitter_handle }}"><i class="fa fa-twitter fa-lg icon" aria-hidden="true"></i>&nbsp;{{ member.twitter_handle }}</a>
    <br>
    <a href="mailto:{{ member.email }}"><i class="fa fa-envelope fa-lg icon" aria-hidden="true"></i>&nbsp;{{ member.email }}</a>
{% endmacro %}
