{% macro render_pagination(pagination, alt) %}
<div class="pagination">
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url(alt=alt) }}">&laquo; {{ "previous"|trans }}</a>
    {% else %}
      <span class="disabled">&laquo; {{ "previous"|trans }}</span>
    {% endif %}
    | {{ pagination.page }} |
    {% if pagination.has_next %}
      <a href="{{ pagination.next|url(alt=alt) }}">{{ "next"|trans }} &raquo;</a>
    {% else %}
      <span class="disabled">{{ "next"|trans }} &raquo;</span>
    {% endif %}
  </div>
{% endmacro %}
