{% macro render_pagination(pagination, alt) %}
<div class="pagination">
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url(alt=alt) }}">&laquo; {{ _("Previous") }}</a>
    {% else %}
      <span class="disabled">&laquo; {{ _("Previous") }}</span>
    {% endif %}
    | {{ pagination.page }} |
    {% if pagination.has_next %}
      <a href="{{ pagination.next|url(alt=alt) }}">{{ _("Next") }} &raquo;</a>
    {% else %}
      <span class="disabled">{{ _("Next") }} &raquo;</span>
    {% endif %}
  </div>
{% endmacro %}
