{% from "macros/translation.html" import transbag %}

{% macro render_podcast_index(episode) %}
  {% set t_click_here_listen = transbag('translate', episode.alt, 'click_here_listen') %}
  {% set t_by = transbag('translate', article.alt, 'by') %}
  {% set t_published = transbag('translate', article.alt, 'published') %}
  {% set t_space_after_by = transbag('translate', article.alt, 'space_after_by') %}

  <h2><a href="{{ episode.url }}"><i class="fa fa-headphones" aria-hidden="true"></i> {{ episode.title }}</a></h2>
  <p>
    {{ t_by }}{{ '' if t_space_after_by == 'false' else ' ' }}{{ episode.author }};
    {{ t_published }} {{ episode.pub_date.strftime('%-d %B %Y') }}
  </p>
  <p>{{ episode.description }}</p>
  <h6><a href="{{ episode.url }}">{{ t_click_here_listen }}</a></h6>
{% endmacro %}

{% macro render_podcast(episode) %}
  {{ episode.description }}

  <h6><a href="{{ episode.url }}">{{ t_click_here_listen }}</a></h6>
{% endmacro %}
