{% macro render_video_index(video) %}
  <h2><i class="fa fa-video-camera" aria-hidden="true"></i> {{ video.title }}</h2>
  <p>
    {{ "by"|trans }}{% if "space_after_by"|trans != 'false' %} {% endif %}{{ video.author }};
    {{ "published"|trans }} {{ video.pub_date.strftime('%-d %B %Y') }}
  </p>
  <iframe class="video" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
  <p>{{ video.description }}</p>
  {% if video.event_url %}
  <p><a href="{{ video.event_url }}">{{ "as_seen_at"|trans }} {{ video.event_name }}</a></p>
  {% else %}
  <p>{{ "as_seen_at"|trans }} {{ video.event_name }}</p>
  {% endif %}
{% endmacro %}

{% macro render_video(video) %}
  {% if video.embeddable %}
  <iframe class="video" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
  {% else %}
  <p><a href="{{ video.url }}"><i class="fa fa-link" aria-hidden="true"></i>{{ video.title }}</a></p>
  {% endif %}
  {{ video.description }}
{% endmacro %}
