{% macro render_video_index(video) %}
  <h2><i class="fa fa-video-camera" aria-hidden="true"></i> {{ video.title }}</h2>
  <p>
    {% trans author=video.author, date=video.pub_date.strftime('%-d %B %Y') %}
    by {{ author }}; published {{ date }}
    {% endtrans %}
  </p>
  {{ render_video(video) }}
  {% if video.event_url %}
  <p><a href="{{ video.event_url }}">{% trans event_name=video.event_name %}As seen at {{ event_name }}{% endtrans %}</a></p>
  {% else %}
  <p>{% trans event_name=video.event_name %}As seen at {{ event_name }}{% endtrans %}</p>
  {% endif %}
{% endmacro %}

{% macro render_video(video) %}
  {% if video.embeddable %}
  <iframe class="video" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
  {% else %}
  <p><a href="{{ video.url }}"><i class="fa fa-link" aria-hidden="true"></i>{{ video.title }}</a></p>
  {% endif %}
  {{ video.description }}
{% endmacro %}
