{% extends "layout.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs %}
{% from "macros/incomplete.html" import incomplete %}
{% block title %}Page not found{% endblock %}
{% block preamble %}
<div class="banner">
  <div class="container">
    <h1>404: Page not found</h1>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="row-fluid">
  <div class="col-md-12">
    <img src="/static/images/bumble.png" class="img-fluid center-block hidden-sm-down">
    <img src="/static/images/bumble-small.png" class="img-fluid center-block hidden-md-up">
    <h2 style="text-align:center">Brutus can't find what you're looking for</h2>
  </div>
</div>
{% endblock %}
