{% extends "page.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs %}
{% block title %}{{ this.title }}{% endblock %}
{% block gutter %}
  <div class="col-sm-12 col-md-4 gutter">
    <h2>Commercial options</h2>
    <p>Although BeeWare is an open source project, there are companies and individuals who can provide paid support, training, and consulting.</p>
    {% for child in this.children %}
      {% if child.hide_from_index %}
    <h3><a href="{{ child|url }}">{{ child.title }}</a></h3>
    <p>{{ child.summary }}</p>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
