{% extends "page.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs with context %}

{% block title %}{{ this.title }}{% endblock %}
{% block preamble %}
<div class="banner">
  <div class="container">
            <p>{{ breadcrumbs(this) }}</p>
            <h1>Documentation</h1>
            <p>Welcome to the BeeWare project documentation!</p>
  </div>
</div>
{% endblock %}
{% block main %}
<div class="row">
    <div class="col">
        <div class="tutorial-docs row">
            <div class="tutorial-bee-docs col-4">
                <img src="{{ '/static/images/brutus-128.png'|asseturl }}">
            </div>
            <div class="col-6">
                <div class="row d-flex justify-content-center">
                    <h3>New to BeeWare?</h3>
                </div>
                <div class="row d-flex justify-content-center">
                    <a role="button" href="https://tutorial.beeware.org" class="btn btn-primary btn-lg tutorial-button">Take the Tutorial</a>
                </div>
            </div>
        </div>

        <h2 id="featured" class="featured-title d-flex justify-content-center">Featured tools</h2>
        <div class="row">
            <div class="col">
                <div class="row d-flex justify-content-center">
                    <img src="/docs/toga/toga.png" height="125px" class="pull-xs-left">
                </div>
                <div class="row d-flex justify-content-center">
                    <h2><a href="https://toga.beeware.org">Toga</a></h2>
                </div>
                <div class="row d-flex justify-content-center">
                    A Python native, OS native GUI toolkit.
                </div>
            </div>
            <div class="col">
                <div class="row d-flex justify-content-center">
                <img src="/docs/briefcase/briefcase.png" height="125px" class="pull-xs-left">
                </div>
                <div class="row d-flex justify-content-center">
                <h2><a href="https://briefcase.beeware.org">Briefcase</a></h2>
                </div>
                <div class="row d-flex justify-content-center">
                Convert a Python project into a standalone native application.
                </div>
            </div>
        </div>

        <h3 id="showcase" class="d-flex justify-content-center applications">Showcased applications</h3>
        <div class="d-flex justify-content-center applications-description">
            Applications maintained by the BeeWare team that are built using BeeWare's tools.
        </div>
        <div class="clearfix project">
            <img src="/static/images/podium.png" height="48px" alt="Podium" class="pull-xs-left">
            <h5 class="other-tools"><a href="https://github.com/beeware/podium">Podium</a></h5>
            A markup-based slide presentation tool.
        </div>

        <h3 id="utilities" class="d-flex justify-content-center utilities">Utilities</h3>
        <div class="d-flex justify-content-center utilities-description">
        Pieces used by other BeeWare tools that can be useful on their own.
        </div>
        <div class="clearfix project">
            <img src="/static/images/rubicon.png" height="48px" alt="Rubicon Obj-C" class="pull-xs-left">
            <h5 class="other-tools"><a href="https://rubicon-objc.beeware.org">Rubicon Objective-C</a></h5>
            A library for bridging between Python and Objective-C.
        </div>
        <div class="clearfix project">
            <img src="/static/images/python-apple-support.png" height="48px" alt="Python Apple Support" class="pull-xs-left">
            <h5 class="other-tools"><a href="https://github.com/beeware/Python-Apple-support">Python Apple Support</a></h5>
            Pre-compiled versions of Python for Apple platforms.
        </div>
        <div class="clearfix project">
            <img src="/static/images/chaquopy.png" height="48px" alt="Chaquopy" class="pull-xs-left">
            <h5 class="other-tools"><a href="https://chaquo.com/chaquopy/">Chaquopy</a></h5>
            Tools for bridging between Python and Java on Android.
        </div>

        <h3 id="project" class="d-flex justify-content-center details">The BeeWare Project</h3>
        <p>
            BeeWare is more than a suite of tools for building amazing apps. It's also an
            amazing Open Source community!
        </p>
        <h4 id="code-of-conduct">BeeWare Community Code of Conduct</h4>
        <p>
            Everyone participating in the BeeWare community, in any way, is required to
            adhere to the guidelines in the <a href="../community/behavior/code-of-conduct">BeeWare
            Community Code of Conduct.</a>.
        </p>
        <h4 class="project-details">About the project</h4>
        <p>
            Learn more <a href="../about">about the history and goals of the
            BeeWare project.</a>
        </p>
        <h4 id="support">Get help using BeeWare</h4>
        <p>
            Need help using BeeWare? We've got <a
            href="../community/resources">lots of community resources</a> that
            might help. If you need to ask a more specific question, here's <a
            href="../community/getting-help">how you can find someone that
            might be able to help</a>. We can also help you <a
            href="../community/commercial">find commercial support</a>.
        </p>
        <h4 id="contributing">Contributing to the BeeWare project</h4>
        <p>
            Want to contribute to BeeWare? See our <a
            href="../contributing">contribution guide</a>. If you've never
            contributed to Open Source before, start with our <a
            href="../contributing/first-time/">guide for first time
            contributors.</a>
        </p>
        <p>
            Or, if you just want to support the project financially, you can <a
            href="../membership">become a financial member of the project.</a>
        </p>
        <h4 class="project-details">Stay in touch!</h4>
        <p>
            Follow us on Mastodon
            <a href="https://fosstodon.org/@beeware">@beeware@fosstodon.org</a>,
            or <a href="https://eepurl.com/b2Xb4z">sign up for our mailing
            list</a> for regular project updates.
        </p>
    </div>
</div>
{% endblock %}
