{% extends "page.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs with context %}

{% block title %}{{ this.title }}{% endblock %}
{% block preamble %}
<div class="banner">
  <div class="container">
      <div class="row">
            <p>{{ breadcrumbs(this) }}</p>
            <h1>{{ this.title }}</h1>
{#            <p>{{ this.summary }}</p>#}
      </div>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col">
        <div class="tutorial-docs row">
            <div class="tutorial-bee-docs col-4">
                <img src="{{ '/static/images/brutus-128.png'|asseturl }}">
            </div>
            <div class="col">
                <div class="row tutorial-info-docs">
                    <h3>New to BeeWare?</h3>
                </div>
                <div class="row tutorial-button-docs">
                    <a role="button" href="https://tutorial.beeware.org" class="btn btn-primary btn-lg tutorial-button">Take the Tutorial</a>
                </div>
            </div>
        </div>
{#        {{ this.body }}#}
    <div class="featured-title d-flex justify-content-center">
        <h2>Featured Documentation</h2>
    </div>
        <div class="row">
            <div class="col">
                <div class="featured-documentation">
                    <img src="/docs/toga/toga.png" height="125px" class="pull-xs-left">
                </div>
                <div class="featured-documentation">
                    <h2><a href="https://toga.beeware.org">Toga</a></h2>
                </div>
                <div class="featured-documentation">
                    A Python native, OS native GUI toolkit.
                </div>
            </div>
            <div class="col">
                <div class="featured-documentation">
                <img src="/docs/briefcase/briefcase.png" height="125px" class="pull-xs-left">
                </div>
                <div class="featured-documentation">
                <h2><a href="https://briefcase.beeware.org">Briefcase</a></h2>
                </div>
                <div class="featured-documentation">
                Convert a Python project into a standalone native application.
                </div>
            </div>
        </div>
    <div class="apps-and-utilities">
    <div class="d-flex justify-content-center">
        <h2>Documentation</h2>
    </div>
    {% for child in this.children %}
    {% if child.sort_key %}
        {% if child.project_page_description %}
            <div class="col-md-6 docs-{{ child.title }}">
        <h2><a href="{{ child|url(alt=this.alt) }}">{{ child.title }}</a></h2>
        <div class="important-description">{{ child.project_page_description }}</div>
            {% for project in child.children %}
                {% if project.featured %}
        <div class="clearfix project">
            <img src="{{ site.get(project.path, alt='_primary')|url }}{{ project.image }}" height="72px" alt="{{ project.name }}" class="pull-xs-left">
            <h2><a href="{{ project|url(alt=project.alt) }}">{{ project.name }}</a></h2>
                  {{ project.short_description|safe }}
                {% endif %}
            {% endfor %}
            <a href="{{ child|url(alt=child.alt) }}">... and others</a>
            </div>
        </div>
        {% endif %}
    {% endif %}
    {% endfor %}
    </div>
{#    <div class="col-md-4">#}
{#        <div class="sidebar-module sidebar-module-inset gutter">#}
{#            {{ this.gutter }}#}
{#            </div>#}
{#    </div>#}
</div>

{% endblock %}
