{% extends "page.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs with context %}
{% from "macros/join_and.html" import join_and with context %}


{% set member_slugs = this.speaker %}
{% set members = site.query("/about/team") %}

{% set speaker_names = {} %}

{% for slug in this.speaker %}
    {%
        do speaker_names.update(
            {slug: members.filter(F._slug == slug).first().name}
        )
    %}
{% endfor %}
{% set speakers_list = join_and(speaker_names.values()|list) %}

{% block title %}{{ this.title }}{% endblock %}

{% block preamble %}
<div class="banner">
  <div class="container">
    <p>{{ breadcrumbs(this) }}</p>
    <h1>{{ this.title }} ({{ this.event_type|title }})</h1>
    <p>{{ this.date|datetimeformat("EEEE, MMMM d, YYYY", locale=this.alt)|title }}{% if this.end_date %} - {{this.end_date|datetimeformat("EEEE, MMMM d, YYYY", locale=this.alt)|title}}{% endif %}</p>
  </div>
</div>
{% endblock %}

{% block main %}
{% if this.event_type == "talk" %}
  <p>{% trans title=this.title, url=this.url, talk_title=this.talk_title %}
    {{ speakers_list }} will be speaking at {{ title }}, giving a presentation entitled "<a href="{{ url }}">{{ talk_title }}</a>".
    {% endtrans %}</p>
{% elif this.event_type == "keynote" %}
  <p>{% trans title=this.title, url=this.url, talk_title=this.talk_title %}
    {{ speakers_list }} will be keynoting at {{ title }}, giving a presentation entitled "<a href="{{ url }}">{{ talk_title }}</a>".
    {% endtrans %}</p>
{% elif this.event_type == "tutorial" %}
  <p>{% trans title=this.title, url=this.url, talk_title=this.talk_title %}
    {{ speakers_list }} will be presenting a tutorial at {{ title }} entitled "<a href="{{ url }}">{{ talk_title }}</a>".
    {% endtrans %}</p>
{% elif this.event_type == "sprint" %}
  <p>{% trans title=this.title %}
    BeeWare will be running a sprint at {{ title }}.
    {% endtrans %}</p>
  <p>
    {% trans coin_link='/contributing/challenge-coins/'|url(alt=this.alt), speaker_count=this.speaker|length %}
    {{ speakers_list }} will be at the sprints, and will be more than willing to help First Time Contributors earn their own shiny <a href="{{ coin_link }}">Challenge Coin</a>.
    {% pluralize speaker_count %}
    {{ speakers_list }} will be at the sprints, and will be more than willing to help First Time Contributors earn their own shiny <a href="{{ coin_link }}">Challenge Coin</a>.
    {% endtrans %}
  </p>
  <p>{% trans url=this.url, title=this.title %}
    For more information, check the <a href="{{ url }}">{{ title }} website</a>.
  {% endtrans %}</p>
  <h3>{{ _("What is a Sprint?") }}</h3>
  <p>{% trans video_link='https://www.youtube.com/watch?v=hOtKgFaFcz0' %}
    Code sprints are events held normally after a conference where attendees can use
    the conference venue to work in small groups on various projects. Learn more about
    how sprints work with the
    <a href="{{ video_link }}">PyCon US 'What is a sprint?' video</a>.
    {% endtrans %}</p>
{% endif %}
<p><em>{{ this.description }}</em></p>
{% endblock %}

{% block gutter %}
  <div class="col-sm-12 col-md-4 gutter">
    <dl>
      <dt>{{ _("Date") }}:</dt>
      <dd>{{ this.date|datetimeformat("MMMM d, YYYY", locale=this.alt)|title }}{% if this.end_date %} - {{this.end_date|datetimeformat("MMMM d, YYYY", locale=this.alt)|title}}{% endif %}</dd>

      {% if this.event_type == "sprint" %}
        <dt>{{ _("Sprinters") }}:</dt>
      {% elif this.event_type == "talk" %}
        <dt>{{ _("Speakers") }}:</dt>
      {% endif %}
      <dd>
        <ul>
        {% for slug in speaker_names %}
          <li><a href="{{
              "/about/team"|url
              + "#"
              + slug
        }}">{{ speaker_names[slug] }}</a></li>
        {% endfor %}
        </ul>
      </dd>

    </dl>
  </div>
{% endblock %}
