{% extends "page.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs %}
{% from "macros/translation.html" import transbag %}

{% set t_past_events = transbag('translate', this.alt, 'past_events') %}
{% set t_upcoming_events = transbag('translate', this.alt, 'upcoming_events') %}

{% block title %}{{ this.title }}{% endblock %}
{% block extra_script %}
<script>
(function() {
    var today = new Date();

    $('#past-events p').each(function() {
      var date = new Date($(this).data('date'));
      if (date >= today) {
        $(this).appendTo("#upcoming-events")
      }
  });
})();
</script>
{% endblock %}
{% block preamble %}
<div class="banner">
  <div class="container">
    <p>{{ breadcrumbs(this) }}</p>
    <h1>{{ this.title }}</h1>
    <p>{{ this.summary }}</p>
  </div>
</div>
{% endblock %}
{% block main %}
{# As this is a static site, we can't just query on the date for upcoming
   events, because the date is computed at the time the page is generated.
   As a workaround, we render *all* the events in the past events list,
   and use Javascript (which will be evaluated at the time of viewing) to
   move upcoming events into the upcoming list. #}

<h2>{{ t_upcoming_events }}</h2>
<div id="upcoming-events"></div>

<h2>{{ t_past_events }}</h2>
<div id="past-events">
{% for child in this.children %}
    <p data-date="{{ child.date }}" data-end-date="{{ child.end_date or child.date }}">
    {{ child.date|datetimeformat("MMMM d, YYYY", locale=this.alt)|title }}{% if child.end_date %} - {{child.end_date|datetimeformat("MMMM d, YYYY", locale=this.alt)|title}}{% endif %}
    <a href="{{ child|url(alt=this.alt) }}">{{ child.title }} ({{ child.event_type|title }})</a></p>
{% endfor %}
</div>

{% endblock %}
{% block gutter %}
  <div class="col-sm-12 col-md-4 gutter">
    {{ this.gutter }}
  </div>
{% endblock %}
