{% extends "page.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs with context %}
{% from "macros/join_and.html" import join_and with context %}

{%
  set event_type_verbs = {
    "talk": {
        "before": "speaking_before_title"|trans,
        "after": "speaking_after_title"|trans,
    },
    "keynote": {
        "before": "keynoting_before_title"|trans,
        "after": "keynoting_after_title"|trans,
    },
    "tutorial": {
        "before": "tutorial_before_title"|trans,
        "after": "tutorial_after_title"|trans,
    },
  }
%}

{% set member_slugs = this.speaker %}
{% set members = site.query("/about/team") %}
{% set speaker_names = {} %}

{% for slug in this.speaker %}
    {%
        do speaker_names.update(
            {slug: members.filter(F._slug == slug).first().name}
        )
    %}
{% endfor %}
{% set speakers_list = join_and(speaker_names.values()|list) %}

{% block title %}{{ this.title }}{% endblock %}

{% block preamble %}
<div class="banner">
  <div class="container">
    <p>{{ breadcrumbs(this) }}</p>
    <h1>{{ this.title }} ({{ this.event_type|title }})</h1>
    <p>{{ this.date|datetimeformat("EEEE, MMMM d, YYYY", locale=this.alt)|title }}{% if this.end_date %} - {{this.end_date|datetimeformat("EEEE, MMMM d, YYYY", locale=this.alt)|title}}{% endif %}</p>
  </div>
</div>
{% endblock %}

{% block main %}
{% if this.event_type in event_type_verbs %}
  <p>{{ speakers_list }} {{ event_type_verbs[this.event_type]["before"] }} {{ this.title }} {{ event_type_verbs[this.event_type]["after"] }} "<a href="{{ this.url }}">{{ this.talk_title }}</a>".</p>
{% elif this.event_type == "sprint" %}
  <p>{{ "running_sprint"|trans }} {{ this.title }}.</p>
  <p>
    {{ speakers_list }} {% if this.speaker|length > 1 %}{{ "sprint_helping_plural"|trans }}{% else %}{{ "sprint_helping"|trans }}{% endif %} <a href="{{ '/contributing/challenge-coins/'|url(alt=this.alt) }}">{{ "challenge_coin"|trans }}</a>.
  </p>
  <p>{{ "event_more_info"|trans }} <a href="{{ this.url }}">{{ this.title }} {{ "website"|trans }}</a>.</p>
  <h3>{{ "what_is_a_sprint"|trans }}</h3>
  {%- set post = "post_sprint_pycon_video"|trans %}
  <p>{{ "sprint_description"|trans }} <a href="https://www.youtube.com/watch?v=hOtKgFaFcz0">{{ "sprint_pycon_video"|trans }}</a>{% if post %} {% endif %}{{ post }}.</p>
{% endif %}
<p><em>{{ this.description }}</em></p>
{% endblock %}

{% block gutter %}
  <div class="col-sm-12 col-md-4 gutter">
    <dl>
      <dt>{{ "date"|trans }}:</dt>
      <dd>{{ this.date|datetimeformat("MMMM d, YYYY", locale=this.alt)|title }}{% if this.end_date %} - {{this.end_date|datetimeformat("MMMM d, YYYY", locale=this.alt)|title}}{% endif %}</dd>

      {% if this.event_type == "sprint" %}
        <dt>{{ "sprinters"|trans }}:</dt>
      {% elif this.event_type == "talk" %}
        <dt>{{ "speakers"|trans }}:</dt>
      {% endif %}
      <dd>
        <ul>
        {% for slug in speaker_names %}
          <li><a href="{{
              "/about/team"|url
              + "#"
              + slug
        }}">{{ speaker_names[slug] }}</a></li>
        {% endfor %}
        </ul>
      </dd>

    </dl>
  </div>
{% endblock %}
