{% extends "layout.html" %}
{% from "macros/sponsor.html" import sponsorship_level %}
{% block title %}{{ this.title }}{% endblock %}
{% block preamble %}
<div class="jumbotron">
  <div class="container">
      <div class="row-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-md-3 col-lg-3 col-xl-3">
          <img src="{{ '/static/images/brutus-270.png'|asseturl }}">
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-md-8 col-lg-8 col-xl-8">
          <h1 class="display-3">BeeWare</h1>
          <h2>The IDEs of Python</h2>
          <p>BeeWare is a collection of projects that can be used to help develop, debug and launch Python software. Each tool follows the Unix philosophy of doing one thing well. Each tool can be used in isolation, or they can be chained together to provide a rich set of programming tools.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="/projects/" role="button">Tell me more</a>
            <a class="btn btn-primary btn-lg" href="/contributing/" role="button">I want to contribute</a>
          </p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row-fluid">
      <div class="col-xs-8 col-sm-8 col-md-8 col-md-8 col-lg-8 col-xl-8">
        <h3>Python native tools...</h3>
        <p>Python has proven itself as a highly capable language - approachable for newcomers, but powerful in the hands of experts. Why shouldn't you be able to use Python everywhere that you need to tell a computer to do something? And shouldn't your tools exploit all the capabilities of Python as a language, not just the bits that map nicely to a C binding?</p>
        <h3>...on mobile &amp; desktop...</h3>
        <p>Modern computing doesn't happen in an 80x25 console window. It happens on phones, tablets, and desktop machines with rich user interfaces. Shouldn't you be able to use Python in all those locations, and exploit the unique capabilities of those platforms?</p>
        <h3>...behaving natively.</h3>
        <p>End users shouldn't have to care what language their tools are written in. And that starts with looking and behaving like completely native tools. Native appearance, native behavior, delivered in the way a native app is delivered. Why shouldn't your Python tools fit in just as well as a native tool?</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-md-4 col-lg-4 col-xl-4 gutter">
        <h3>Stay in touch!</h3>
        <p><a href="http://eepurl.com/b2Xb4z">Join the BeeWare enthusiasts mailing list</a> for updates, hints, tips, and announcements related to the project.</p>

        <hr/>

        <h3>Projects</h3>
        <div id="carousel-projects" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-projects" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-projects" data-slide-to="1"></li>
            <li data-target="#carousel-projects" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <h4><a href="projects/toga"><img src="{{ '/static/images/brutus-32.png'|asseturl }}" alt="Toga"> Toga</h4></a>
              <p>A native widget toolkit for desktop and mobile</p>
            </div>
            <div class="carousel-item">
              <h4><a href="projects/voc"><img src="{{ '/static/images/brutus-32.png'|asseturl }}" alt="VOC"> VOC</a></h4>
              <p>Run your Python code on a Java virtual machine</p>
            </div>
            <div class="carousel-item">
              <h4><a href="projects/batavia"><img src="{{ '/static/images/brutus-32.png'|asseturl }}" alt="Batavia"> Batavia</a></h4>
              <p>Run your Python code in the browser</p>
            </div>
          </div>
          <!--a class="left carousel-control" href="#carousel-projects" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-projects" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a-->
        </div>

        <hr/>

        <h3>Sponsors</h3>

        <div id="carousel-sponsors" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-sponsors" data-slide-to="0" class="active"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <p><img src="/community/sponsors/maxcdn/maxcdn-small.png"></p>
              <p>Ad hoc sponsor</p>
            </div>
          </div>
          <!--a class="left carousel-control" href="#carousel-sponsors" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-sponsors" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a-->
        </div>

        <hr/>

        <h3>Members</h3>
        <p>BeeWare is also supported by users like you! Every little bit helps: <a href="/contributing/donations/">click here to contribute</a></p>
        <hr/>

        <h3></h3>

      </div>
    </div>
  </div>
{% endblock %}
