{% extends "layout.html" %}
{% from "macros/sponsor.html" import sponsorship_level %}
{% block title %}{{ this.title }}{% endblock %}
{% block preamble %}
<div class="jumbotron">
  <div class="container">
      <div class="row-fluid">
        <div class="hidden-md-down col-lg-3 col-xl-3">
          <img class="img-fluid" src="{{ '/static/images/brutus-270.png'|asseturl }}">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-9 col-lg-8 col-xl-8">
          <h1 class="display-1">BeeWare</h1>
          <h2 class="display-2">{{ this.title }}</h2>
          <p>{{ this.description }}</p>
          <p>
            {% for blk in this.header.blocks %}
            {{ blk }}
            {% endfor %}
          </p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="row-fluid">
  <div class="col-sm-12 col-md-8 project-description">
  {% for blk in this.body.blocks %}
  {% if blk._flowblock == 'button-block' %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      {{ blk }}
    </div>
  </div>
  {% else %}
    {{ blk }}  
  {% endif %}
  {% endfor %}
  </div>

  <div class="col-sm-12 col-md-4 gutter home-gutter">

    <h3>Many thanks to</h3>
    <div id="carousel-members" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-members" data-slide-to="0" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <p><a href="/community/members/revsys/"><img class="img-fluid" src="/community/members/revsys/revsys-large.png"></a></p>
          <p>Ad hoc sponsor</p>
        </div>
      </div>
      <!--a class="left carousel-control" href="#carousel-members" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-members" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a-->
    </div>

    <hr/>

    <h3><a href="/news/buzz/">Latest news</a></h3>
    {% set blog = site.query('/news/buzz').all() %}
    <p><a href="{{ blog[0]|url }}">{{ blog[0].pub_date.strftime("%d %b")}}: {{ blog[0].title }}</a></p>

    <hr/>

    <h3><a href="/news/events/">Meet the Bee Team @</a></h3>
    {% set events = site.query('/news/events').filter(F.upcoming==True) %}
    <div id="carousel-events" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for event in events %}
        <li data-target="#carousel-events" data-slide-to="{{ loop.index0 }} "{% if loop.index0 == 0 %} class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for event in events %}
        <div class="carousel-item{% if loop.index0 == 0 %} active{% endif %}">
          <h4><a href="{{ event|url }}">{{ event.title }}</a></h4>
          {% if event.event_type == "keynote" %}
          {{ event.speaker[0] }} is keynoting!
          {% elif event.event_type == "talk" %}
          {{ event.speaker[0] }} is speaking!
          {% elif event.event_type == "tutorial" %}
          {{ event.speaker[0] }} is giving a tutorial!
          {% elif event.event_type == "booth" %}
          Come see us at our booth!
          {% elif event.event_type == "sprint" %}
          We'll be sprinting!
          {% else %} <br>
          {% endif %}
          <p>{{ event.date.strftime("%d %B %Y") }}</p>
        </div>
        {% endfor %}
      </div>
    </div>

    <hr/>

    <h2><a href="/project/projects/">Projects</a></h2>
    {% set project_types = site.query('/project/projects') %}
    {% for project_type in project_types %}
    {%   for project in site.query(project_type.path).filter(F.showcase==True) %}
    <div>
      <h4><a href="{{project.path}}"><img src="{{project.path}}/{{ project.name|lower }}.png" height="32px" alt="{{ project.name }}"> {{ project.name }}</h4></a>
      {{ project.short_description|string|wordwrap(width=40, wrapstring='<br>')|safe }}
    </div>
    {%   endfor %}
    {% endfor %}
    <h3><a href="/project/projects/">... and many more</a></h3>

  </div>
</div>
{% endblock %}
