{% extends "layout.html" %}
{% from "macros/sponsor.html" import sponsorship_level %}
{% block title %}{{ this.title }}{% endblock %}
{% block preamble %}
<div class="jumbotron">
  <div class="container">
      <div class="row-fluid">
        <div class="hidden-md-down col-lg-3 col-xl-3">
          <img class="img-fluid" src="{{ '/static/images/brutus-270.png'|asseturl }}">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-9 col-lg-8 col-xl-8">
          <h1 class="display-1">BeeWare</h1>
          <h2 class="display-2">The IDEs of Python</h2>
          <p>BeeWare is a collection of projects that can be used to help develop, debug and launch Python software. Each tool follows the Unix philosophy of doing one thing well. Each tool can be used in isolation, or they can be chained together to provide a rich set of programming tools.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="/project/overview/" role="button">Tell me more</a>
            <a class="btn btn-primary btn-lg" href="/contributing/" role="button">I want to contribute</a>
            <a class="btn btn-primary btn-lg" href="/contributing/donations/" role="button">I want to donate</a>
          </p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="row-fluid">
  <div class="col-sm-12 col-md-8 project-description">
    <h3>Python native tools...</h3>
    <p><img src="/static/images/python.png" class="hidden-sm-down pull-sm-right"> Python has proven itself as a highly capable language - approachable for newcomers, but powerful in the hands of experts. Why shouldn't you be able to <strong>use Python everywhere</strong> that you need to tell a computer to do something? And shouldn't your tools <strong>exploit all the capabilities of Python</strong> as a language, not just the bits that map nicely to a C binding?</p>
    <h3>...on mobile &amp; desktop...</h3>

    <p><img src="/static/images/cross-platform.png" class="hidden-sm-down pull-sm-left"> Modern computing doesn't happen in an 80x25 console window. It happens on <strong>phones, tablets, and desktop machines</strong> with rich user interfaces. Shouldn't you be able to use Python in all those locations, and <strong>exploit the unique capabilities of those platforms</strong>?</p>

    <h3>...behaving natively.</h3>
    <p><img src="/static/images/native.png" class="hidden-sm-down pull-sm-right"> End users shouldn't have to care what language their tools are written in. And that starts with looking and behaving <strong>like completely native tools</strong>. Native appearance, native behavior, delivered in the way a native app is delivered. Why shouldn't your Python tools fit in just as well as a native tool?</p>

    <h2>This is BeeWare.</h2>
    <p><img src="/static/images/brutus-97.png" class="hidden-sm-down pull-sm-left"> This is what BeeWare provides. Tools to help you write <strong>Python code</strong> with a <strong>rich, native user interface</strong>; and the libraries and support code necessary to get that code running on <strong>iOS, Android, macOS, Linux, Windows, tvOS, and more</strong>.</p>

    <h3>Open source</h3>
    <p><img src="/static/images/opensource.png" class="hidden-sm-down pull-sm-right"> The Open Source development process has proven itself to be the most reliable way to develop robust and reliable software. That's why the entire BeeWare suite of tools are BSD licensed, and <strong>available for all to use and modify</strong>.</p>

    <h3>All contributions welcome</h3>
    <p><img src="/static/images/labhr.png" class="hidden-sm-down pull-sm-left"> But it's not just about code. A successful software project requires documentation, design skills, feedback and bug reports. The BeeWare community acknowledges that <strong>all contributions are important</strong> &mdash; not just the ones that come as a pull request on GitHub.</p>

    <h3>From diversity comes strength</h3>
    <p><img src="/static/images/diversity.png" class="hidden-sm-down pull-sm-right"> A diverse community is a strong community. This means accepting people of all levels of experience, from all backgrounds, of all races, creeds, orientations and expressions. The BeeWare project is committed to <strong>developing and maintaining a diverse, welcoming community</strong>. We have an <storng>open offer to mentor anyone</strong> who wants to get involved as a contributor, backed up by a <strong><a href="community/behavior/code-of-conduct/">Code of Conduct</a></strong> that is rigorously enforced. </p>

    <h3>Contribute!</h3>
    <p>If all this sounds interesting, why not take a look at the <strong><a href="/project/projects">BeeWare projects</a></strong> and see how you can use them when developing Python applications? Or, if you'd like to contribute, and you've never contributed to open source before, start with our <strong><a href="/contributing/first-time/">guide for first time contributors</a></strong>. If you feel ready to dive straight in, check out the <a href="/project/projects/">project pages</a> or our guide on <a href="/contributing/what/">what you can do to help</a>.</p>

    <a class="btn btn-primary btn-lg" href="/contributing/" role="button"><i class="fa fa-code-fork" aria-hidden="true"></i> Contribute to BeeWare</a>

    <h3>Stay in touch!</h3>
    <p>Follow <a href="https://twitter.com/PyBeeWare/">@PyBeeWare</a> on Twitter, or <a href="/community/keep-informed/">join the BeeWare enthusiasts mailing list</a> for updates, hints, tips, and announcements related to the project.</p>

    <a class="btn btn-success btn-lg" href="/community/keep-informed/" role="button"><i class="fa fa-envelope" aria-hidden="true"></i> Keep up with BeeWare!</a>

    <h3>Members</h3>
    <p>BeeWare is supported by users like you! Every little bit helps: <a href="/contributing/donations/">click here to contribute.</a></p>

  </div>

  <div class="col-sm-12 col-md-4 gutter home-gutter">

    <h3>Many thanks to</h3>
    <div id="carousel-sponsors" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-sponsors" data-slide-to="0" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <p><a href="/community/sponsors/maxcdn/"><img class="img-fluid" src="/community/sponsors/maxcdn/maxcdn-large.png"></a></p>
          <p>Ad hoc sponsor</p>
        </div>
      </div>
      <!--a class="left carousel-control" href="#carousel-sponsors" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-sponsors" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a-->
    </div>

    <hr/>

    <h3><a href="/news/buzz/">Latest news</a></h3>
    {% set blog = site.query('/news/buzz').all() %}
    <p><a href="{{ blog[0]|url }}">{{ blog[0].pub_date.strftime("%d %b")}}: {{ blog[0].title }}</a></p>

    <hr/>

    <h3><a href="/news/events/">Meet the Bee Team @</a></h3>
    {% set events = site.query('/news/events').filter(F.upcoming==True) %}
    <div id="carousel-events" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for event in events %}
        <li data-target="#carousel-events" data-slide-to="{{ loop.index0 }} "{% if loop.index0 == 0 %} class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for event in events %}
        <div class="carousel-item{% if loop.index0 == 0 %} active{% endif %}">
          <h4><a href="{{ event|url }}">{{ event.title }}</a></h4>
          <p>{{ event.date.strftime("%d %B %Y") }}</p>
        </div>
        {% endfor %}
      </div>
    </div>

    <hr/>

    <h2><a href="/project/projects/">Projects</a></h2>
    <div>
      <h4><a href="/project/projects/libraries/toga"><img src="/project/projects/libraries/toga/toga-32.png" alt="Toga"> Toga</h4></a>
      <p>A native widget toolkit<br/>for desktop and mobile</p>
    </div>
    <div>
      <h4><a href="/project/projects/bridges/voc"><img src="/project/projects/bridges/voc/voc-32.png" alt="VOC"> VOC</a></h4>
      <p>Run your Python code<br/>on a Java virtual machine</p>
    </div>
    <div>
      <h4><a href="/project/projects/tools/briefcase"><img src="/project/projects/tools/briefcase/briefcase-32.png" alt="Briefcase"> Briefcase</a></h4>
      <p>Package your Python code<br/>as a native app</p>
    </div>
    <div>
      <h4><a href="/project/projects/bridges/batavia"><img src="/project/projects/bridges/batavia/batavia-32.png" alt="Batavia"> Batavia</a></h4>
      <p>Run your Python code<br/>in the browser</p>
    </div>
    <div>
      <h4><a href="/project/projects/tools/cricket"><img src="/project/projects/tools/cricket/cricket-32.png" alt="Cricket"> Cricket</a></h4>
      <p>Manage unit testing<br/>with a graphical interface</p>
    </div>
    <h3><a href="/project/projects/">... and many more</a></h3>
  </div>
</div>
{% endblock %}
