{% extends "layout.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs %}
{% from "macros/sponsor.html" import sponsorship_level %}
{% block title %}{{ this.name }}{% endblock %}
{% block preamble %}
<div class="banner">
  <div class="container">
    <p>{{ breadcrumbs(this) }}</p>
    <h2>{{ sponsorship_level(this) }}</h2>
    <a href="{{ this.url }}"><img src="./{{ this._id }}-large.png"></a>
    {% if this.level == "historical" %}
    <p class="period">{{ this.join_date.strftime("%B %Y") }} - {{ this.end_date.strftime("%B %Y") }}
    {% endif %}
  </div>
</div>
{% endblock %}
{% block body %}
{{ this.description }}
{{ this.contribution }}
<p>Many thanks to {{ this.name }} for their contribution!</p>
{% endblock %}
