{% extends "page.html" %}
{% from "macros/translation.html" import transbag %}

{% set t_join = transbag('translate', this.alt, 'join') %}

{% block extra_head %}
    <!-- Gumroad -->
    <script src="https://gumroad.com/js/gumroad.js"></script>
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-offset-2 col-md-8 project-description">
  {{ this.body }}
  </div>
</div>

<div class="row">
  {% for child in this.children %}
    {% if child.showcard %}
    <div class="col-md-{{ child.width.strip() }} level {{ child.color }}">
        <h2><b>{{ child.title }}</b><br>${{ child.cost|int }}/month</h2>
        <div>
            <p>{{ child.summary }}</p>
            {{ child.description }}
            <a class="btn btn-primary btn-block" href="{{ child.url }}" target="_blank">{{ t_join }}</a>
        </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
<div class="row-fluid">
  {% for child in this.children %}
    {% if child.display %}
  <div class="col-sm-12 col-md-offset-2 col-md-8">
    <h2>{{ child.title }}</h2>
    {{ child.body }}
    {% if child.tagline %} 
    <p>
    <a class="gumroad-button" href="{{ child.url }}" target="_blank">
      <span class="gumroad-button-logo"></span>{{ child.tagline }}
    </a>
    </p>
    {% endif %}
  </div>
    {% endif %}
  {% endfor %}
  <div class="col-sm-12 col-md-offset-2 col-md-8">
  {{ this.gutter }}
  </div>
</div>
{% endblock %}