{% extends "page.html" %}
{% from "macros/translation.html" import transbag %}

{% set t_more_articles = transbag('translate', this.alt, 'more_articles') %}
{% set t_on = transbag('translate', this.alt, 'on') %}
{% set t_posted_by = transbag('translate', this.alt, 'posted_by') %}
{% set t_post_posted_date = transbag('translate', this.alt, 'post_posted_date') %}

{% block title %}{{ this.title }}{% endblock %}

{% block extra_script %}
<script>
{
  let today = new Date();

  $('.upcoming.event').each(function() {
      let date = new Date($(this).data('end-date'))
      if (date < today) {
          $(this).hide();
      }
  });
}
</script>
{% endblock %}

{% set blog = site.query('/news/buzz', alt=this.alt).all() %}

{# This *should* be as simple as filter((F.date >= today).or(F.end_date >= today)).
   But this doesn't work correctly, due to inconsistent handling of missing values. #}

{% set all_events = site.query('/news/events', alt=this.alt).order_by('date', 'event_type') %}
{% set ongoing = all_events.filter(F.date < today).filter(F.end_date >= today).all() %}
{% set not_started = all_events.filter(F.date >= today).all() %}
{% set events = ongoing + not_started %}

{% block body %}
<div class="row">
  <div class="col-md-12 col-lg-8">
    {% for child in blog[:10] %}
    <h3><a href="{{ child|url(alt=this.alt) }}">{{ child.title }}</a></h3>
    <p>{{ t_posted_by }}
      {% if this.mastodon_handle %}
      <a href="https://{{ this.mastodon_handle.split('@')[2] }}/@{{ this.mastodon_handle.split('@')[1] }}">{{ this.author or this.mastodon_handle }}</a>
      {% elif this.twitter_handle %}
      <a href="https://twitter.com/{{ this.twitter_handle }}">{{ this.author or this.twitter_handle }}</a>
      {% else %}
      {{ child.author }}
      {% endif %}
      {{ t_on }} {{ child.pub_date }} {{ t_post_posted_date }}
    </p>
    {% endfor %}
    <a href="{{ '/news/buzz/'|url(alt=this.alt) }}">{{ t_more_articles }}</a>
  </div>
  <div class="col-md-12 col-lg-4 gutter" id="news-gutter">
    {{ this.gutter }}
    {% if events %}
    {% for event in events %}
      <div class="upcoming event" data-date="{{ event.date }}" data-end-date="{{ event.end_date or event.date }}">
        <h5><a href="{{ event|url(alt=this.alt) }}">{{ event.title }} ({{ event.event_type|title }})</a></h5>
        <div class="upcoming_event_info">
          <p>{{ event.date|datetimeformat("MMMM d, YYYY", locale=this.alt)|title }}{% if event.end_date %} - {{event.end_date|datetimeformat("MMMM d, YYYY", locale=this.alt)|title}}{% endif %}</p>
        </div>
      </div>
    {% endfor %}
    {% else %}
    <p>None currently planned...</p>
    {% endif %}
    <p><a href="{{ '/news/events'|url(alt=this.alt) }}">See all events</a></p>
  </div>
</div>
{% endblock %}
