{% extends "page.html" %}
{% from "macros/translation.html" import transbag %}

{% set t_more_articles = transbag('translate', this.alt, 'more_articles') %}
{% set t_on = transbag('translate', this.alt, 'on') %}
{% set t_posted_by = transbag('translate', this.alt, 'posted_by') %}

{% block title %}{{ this.title }}{% endblock %}

{% block extra_script %}
<script>
(function() {
    var today = new Date();
    $('.upcoming.event').each(function() {
        var date = new Date($(this).data('end-date'))
        if (date < today) {
            $(this).hide();
        }
    });
})();
</script>
{% endblock %}

{% block body %}
{% set blog = site.query('/news/buzz', alt=this.alt).all() %}
{% set events = site.query('/news/events', alt=this.alt).filter(F.date >= today or F.end_date >= today).order_by('date') %}
<div class="row">
  <div class="col-md-12 col-lg-8">
    {% for child in blog[:10] %}
    <h3><a href="{{ child|url(alt=this.alt) }}">{{ child.title }}</a></h3>
    <p>{{ t_posted_by }}
      {% if this.mastodon_handle %}
      <a href="https://{{ this.mastodon_handle.split('@')[2] }}/@{{ this.mastodon_handle.split('@')[1] }}">{{ this.author or this.mastodon_handle }}</a>
      {% elif this.twitter_handle %}
      <a href="https://twitter.com/{{ this.twitter_handle }}">{{ this.author or this.twitter_handle }}</a>
      {% else %}
      {{ child.author }}
      {% endif %}
      {{ t_on }} {{ child.pub_date }}
    </p>
    {% endfor %}
    <a href="{{ '/news/buzz/'|url(alt=this.alt) }}">{{ t_more_articles }}</a>
  </div>
  <div class="col-md-12 col-lg-4 gutter">
    {{ this.gutter }}
    <ul>
    {% for child in events %}
      <li class="upcoming event" data-date="{{ child.date }}" data-end-date="{{ child.end_date or child.date }}">{{ child.date|datetimeformat("MMMM d, YYYY", locale=this.alt)|title }}{% if child.end_date %} - {{child.end_date|datetimeformat("MMMM d, YYYY", locale=this.alt)|title}}{% endif %}: <a href="{{ child|url(alt=this.alt) }}">{{ child.title }} {{ child.event_type}}</a></li>
    {% endfor %}
    </ul>
    <p><a href="{{ '/news/events'|url(alt=this.alt) }}">See all events</a></p>
  </div>
</div>
{% endblock %}
