{% extends "layout.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs %}
{% from "macros/incomplete.html" import incomplete %}

{% block title %}{{ this.title }}{% endblock %}
{% block preamble %}
<div class="banner">
  <div class="container">
    <p>{{ breadcrumbs(this) }}</p>
    <h1>{{ this.title }}</h1>
    <p>{{ this.summary }}</p>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-sm-7 mr-auto">
  {{ incomplete(this) }}
  {% block main %}
    {{ this.body }}
    {% for child in this.children %}
      {% if not child.hide_from_index %}
    <h2><a href="{{ child|url(alt=this.alt) }}">{{ child.title }}</a></h2>
    <p>{{ child.summary }}</p>
      {% endif %}
    {% endfor %}
  {% endblock %}
  </div>
  {% block gutter %}
    {% if this.gutter and this.gutter.source %}
  <!-- <div class="col-sm-12 col-md-4 gutter"> -->
  <div class="col-sm-4">
    <div class="sidebar-module sidebar-module-inset gutter">
    {{ this.gutter }}
    </div>
  </div>
    {% else %}
  <div class="hidden-sm-down col-sm-4">
  </div>
    {% endif %}
  {% endblock %}
</div>
{% endblock %}
