{% extends "layout.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs %}
{% block title %}{{ this.title }}{% endblock %}
{% block preamble %}
<div class="banner">
  <div class="container">
    <p>{{ breadcrumbs(this) }}</p>
    <h1>{{ this.title }}</h1>
    <p>{{ this.summary }}</p>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="row-fluid">
  <div class="col-sm-12 col-md-8">
    {{ this.body }}
    {% for child in this.children %}
    <h2><a href="{{ child|url }}">{{ child.title }}</a></h2>
    <p>{{ child.summary }}</p>
    {% endfor %}
  </div>
  <div class="hidden-sm-down col-md-4"></div>
</div>
{% endblock %}
