{% extends "layout.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs with context %}
{% from "macros/badge.html" import badge with context %}
{% from "macros/incomplete.html" import incomplete with context %}


{% block title %}{{ this.name }}{% endblock %}
{% block preamble %}
<div class="banner">
  <div class="container">
    <p>{{ breadcrumbs(this) }}</p>
    <h1>{{ this.name }}</h1>
    <p>{{ this.short_description }}</p>
  </div>
</div>
{% endblock %}
{% block body %}

<div class="row">
  <div class="col-sm-7 mr-auto">
    {{ incomplete(this) }}

    {% if this.attic or "attic" in this.maturity %}
    <p><i>{{ "attic_before"|trans }} <a href="{{ '/docs/attic'|url(alt=this.alt) }}">{{ "attic_link"|trans }}</a>{{ "attic_after"|trans }}</i></p>
    <hr>
    {% endif %}

    {% if this.project_type == "template" %}
    <p>{{ "cookie_before"|trans }} <a href="https://github.com/audreyr/cookiecutter">CookieCutter</a> {{ "cookie_after"|trans }}</p>
    <hr>
    {% endif %}

    {% if this.project_type == "support" %}
    <p>{{ "project_support"|trans }}</p>
    <hr>
    {% endif %}

    <p>{{ this.description }}</p>

    {% if this.help_required %}
    <h3>{{ "project_help"|trans }}</h3>
    <p>{{ this.help_required }}</p>
    {% endif %}

    {% if this.pun %}
    <h3>{{ "pun_before"|trans }} "{{ this.name }}"{{ "pun_after"|trans }}</h3>
    <p>{{ this.pun }}</p>
    {% endif %}
  </div>

  <div class="col-sm-4">
    <div class="sidebar-module sidebar-module-inset gutter">
      <img class="img-fluid center-block" {% if this.image %}src="{{ site.get(this.path, alt='_primary')|url }}{{ this.image }}" {% else %} src="/static/images/defaultlogo.png"{% endif %}>
    {% if this.github_repo or this.rtfd_name %}<br />{% endif %}
    {% if this.github_repo %}<p><a href="https://github.com/{{ this.github_repo }}"><i class="fa fa-github fa-lg" aria-hidden="true"></i> {{ "source_code"|trans }}</a></p>{% endif %}
    {% if this.rtfd_name %}<p><a href="https://{{ this.rtfd_name }}.readthedocs.io/"><i class="fa fa-book fa-lg" aria-hidden="true"></i> {{ "documentation"|trans }}</a></p>{% endif %}
      <hr>
      <dl>
        {{ badge("project_type", this.project_type) }}
        {{ badge("maturity", this.maturity) }}
        {{ badge("language", this.languages) }}
        {{ badge("platform", this.platforms) }}
      </dl>
      <hr>
      <a href="https://labhr.github.io/hatrack/#repo=beeware/{{ this._id }}">{{ "contributors"|trans }}</a>
    </div>
  </div>
</div>
{% endblock %}
