{% extends "page.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs %}

{% block title %}{{ this.title }}{% endblock %}
{% block preamble %}
<div class="banner">
  <div class="container">
    <p>{{ breadcrumbs(this) }}</p>
    <h1>{{ this.title }}</h1>
    <p>{{ this.short_description }}</p>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-sm-7 mr-auto">
    {% for child in this.children %}
    <div class="clearfix project">
    {% if child.customlogo %}
      <img src="./{{ child._id }}/{{ child._id }}.png" height="72px" class="pull-xs-left">
    {% else %} 
      <img src="/static/images/defaultlogo.png" height="72px" class="pull-xs-left">
    {% endif %}
      <h2><a href="{{ child|url(alt=this.alt) }}">{{ child.name }}</a></h2>
      {{ child.short_description }}
    </div>
    {% endfor %}
  </div>
  <div class="col-sm-4">
    <div class="sidebar-module sidebar-module-inset gutter">
      {{ this.description }}
    </div>
  </div>
</div>
{% endblock %}
