{% extends "page.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs %}
{% block title %}{{ this.name }}{% endblock %}
{% block preamble %}
<div class="banner">
  <div class="container">
    <p>{{ breadcrumbs(this) }}</p>
    <h1>{{ this.name }}</h1>
    <p>{{ this.short_description }}</p>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-8">
    {% for child in this.children %}
    <div class="clearfix project">
      <img src="./{{ child._id }}/{{ child._id }}-72.png" class="pull-xs-left">
      <h2><a href="{{ child|url }}">{{ child.name }}</a></h2>
      {{ child.short_description }}
    </div>
    {% endfor %}

  </div>
  <div class="col-sm-12 col-md-4 gutter">
    {{ this.description }}
  </div>

</div>
{% endblock %}

