{% extends "page.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    {{ this.body }}
    <p>Each project of the BeeWare suite fills one of the following roles:</p>
  </div>
</div>
<div class="row project-type">
  {% for child in this.children %}
    {% if child._id != 'attic' %}
  <div class="col-md-4">
    <h3><a href="{{ child|url }}">{{ child.title }}</a></h3>
    <p>{{ child.description }}</p>
  </div>
    {% endif %}
    {% if loop.index == 3 %}
</div>
<div class="row project-type">
    {% endif %}
  {% endfor %}
</div>
<div class="row">
  <div class="col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <p>There is also an <a href="/project/projects/attic/">attic</a> where older and experimental projects are kept. These projects were once part of the BeeWare suite, but are no longer being actively maintained. If you are interested in taking over maintainence of an attic project, please <a href="mailto:russell@pybee.org">get in touch</a>.
  </div>
</div>

{% endblock %}