{% extends "layout.html" %}
{% from "macros/breadcrumbs.html" import breadcrumbs with context %}

{% block title %}Redirecting... {{ this.new_path|safe }}{% endblock %}
{% block extra_head %}
<meta http-equiv="refresh" content="0;URL='{{ this.new_path|safe }}" />
<link rel="canonical" href="{{ this.new_path|safe }}"/>
<script>
  window.location.href = "{{ this.new_path|safe }}"
</script>
{% endblock %}
{% block preamble %}
<div class="banner">
  <div class="container">
    <h1>Redirecting...</h1>
    <p>{{ this.new_path|safe }}</p>
  </div>
</div>
{% endblock %}
