{% extends "page.html" %}
{% from "macros/video.html" import render_video with context %}
{% from "macros/podcast.html" import render_podcast with context %}
{% from "macros/article.html" import render_article with context %}
{% from "macros/breadcrumbs.html" import breadcrumbs with context %}

{% block preamble %}
<div class="banner">
  <div class="container">
    <p>{{ breadcrumbs(this) }}</p>
    <h2>{{ this.title }}</h2>
    <p>
      {{ "by"|trans|capitalize }}{% if "space_after_by"|trans != 'false' %} {% endif %}{{ this.author }};
      {{ "published"|trans }} {{ this.pub_date|datetimeformat("MMMM d, YYYY" ,locale=this.alt)|capitalize }}
    </p>
  </div>
</div>
{% endblock %}
{% block main %}
{% if this.resource_type == 'article' %}
  {{ render_article(this) }}
{% elif this.resource_type == 'video' %}
  {{ render_video(this) }}
{% elif this.resource_type == 'podcast' %}
  {{ render_podcast(this) }}
{% else %}
  {{ "unknown_resource"|trans }}
{% endif %}
{% endblock %}
{% block gutter %}
{% if this.event_name %}
  <div class="col-sm-12 col-md-4 gutter">
    {% if this.event_url %}
    <p><a href="{{ this.event_url }}">{{ "as_seen_at"|trans }} {{ this.event_name }}</a></p>
    {% else %}
    <p>{{ "as_seen_at"|trans }} {{ this.event_name }}</p>
    {% endif %}
  </div>
{% endif %}
{% endblock %}
