/*----------------------------------------------------
  Device specific styles
 --------------------------------------------------- */

/* Extra Large devices (desktops, less than 75em) */
@media (min-width: 1200px) {
  .display-1 {
    font-size: 500%;
  }
  .display-2 {
    font-size: 230%;
  }
}

/* Large devices (desktops, less than 75em) */
@media (max-width: 1200px) {
  .display-1 {
    font-size: 500%;
  }
  .display-2 {
    font-size: 230%;
  }
}

/* Medium devices (tablets, less than 62em) */
@media (max-width: 992px) {
  .display-1 {
    font-size: 500%;
  }
  .display-2 {
    font-size: 230%;
  }
}

/* Small devices (landscape phones, less than 48em) */
@media (max-width: 768px) {
  .display-1 {
    font-size: 400%;
  }
  .display-2 {
    font-size: 225%;
  }

  .jumbotron .btn-lg {
    font-size: 1rem;
  }

}
/* Extra small devices (portrait phones, less than 34em) */
@media (max-width: 544px) {
  .display-1 {
    font-size: 270%;
  }
  .display-2 {
    font-size: 125%;
  }

  .jumbotron .btn-lg {
    font-size: 1rem;
  }
}

/*----------------------------------------------------
  ReST styles
 --------------------------------------------------- */

.note .admonition-title {
  font-weight: bold;
}

.note .last {
  margin: 0 2em 1em 2em;
  font-style: italic;
}
/*----------------------------------------------------
  Main styles
 --------------------------------------------------- */

.content {
  margin-top: 3em;
  margin-bottom: 5em;
}

h1 {
  font-family: 'Cutive', serif;
  margin-top: 1em;
}

.display-1 {
  font-weight: bold;
  margin-top: 0;
}

.display-2 {
  font-weight: bold;
  margin: 0;
}

h2 {
  font-family: 'Cutive', serif;
  font-size: 160%;
  line-height: 2rem;
}

h3 {
  font-family: 'Cutive', serif;
  margin: 1.8rem 0 0.8rem 0;
  font-size: 135%;
  line-height: 2rem;
}

h4 {
  font-family: 'Cutive', serif;
  margin: 1.8rem 0 0.8rem 0;
  font-size: 120%;
  line-height: 2rem;
}

h5 {
  margin: 2.4rem 0 0.6rem;
  font-size: 110%;
  line-height: 2rem;
}

h6 {
  font-family: 'Cutive', serif;
  margin: 1.8rem 0 0.8rem 0;
  font-size: 100%;
  line-height: 2rem;
}

nav {
  font-family: 'Cutive', serif;
}

.banner {
  padding: 2rem 1rem;
  background-color: #eceeef;
  margin-bottom: 2rem;
}

.gutter {
  padding: 1rem;
  background-color: #eceeef;
  border-radius: 1rem;
}

.gutter h2 {
  margin: 1rem 0 0.6rem;
}

.home-gutter {
  text-align: center;
}

.pull-xs-right, .pull-sm-right, .pull-md-right, .pull-lg-right, .pull-xl-right,
.pull-xs-left, .pull-sm-left, .pull-md-left, .pull-lg-left, .pull-xl-left {
  margin: 0rem 1rem;
}

.project-description h2, .project-description h3 {
  text-align: center;
  clear: both;
}

.incomplete {
  font-style: italic;
  border: 1px solid #666;
  background-color: #ffffcc;
  color: #666666;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.align-left {
  float: left;
  margin-right: 0.5em;
}

/*----------------------------------------------------
  Homepage styles
 --------------------------------------------------- */

.jumbotron .btn-lg {
  margin-bottom: 1rem;
}

.jumbotron {
  padding-bottom: 0;
}

/*----------------------------------------------------
  Sticky footer styles
 --------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  padding-top: 1em;
  background-color: #f5f5f5;
}


/*----------------------------------------------------
  Carousels in gutter
 --------------------------------------------------- */

.gutter h3, .gutter h5, .gutter h6 {
  margin: 0 0 1rem 0;
}

.gutter .carousel-control {
  background-image: none;
}

.gutter .carousel-indicators {
  bottom: 0;
  margin-bottom: 0;
}

.gutter .carousel-inner {
  padding: 0 0 1rem 0;
}

.icon {
  width: 25px;
}

/*----------------------------------------------------
  Projects
 --------------------------------------------------- */

.project-type h3 {
  font-weight: bold;
  text-align: center;
}

.projects-gutter h6 {
  text-align: center;
}

.projects-gutter ul {
  list-style-type: none;
  cursor: pointer;
}

.project-gutter li {
  text-align: left;
}

.project-gutter p {
  text-align: center;
}

.project-gutter img {
  margin-bottom: 1rem;
}

.project img {
  margin-bottom: 2rem;
}

/*----------------------------------------------------
  Team
 --------------------------------------------------- */

.row.team {
  margin-bottom: 1rem;
}
