body{
  direction: rtl;
}

.navbar .dropdown-menu {
  right: auto;
  left: 0;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: right;
}

.float-left {
  float: right !important;
}

.float-right {
  float: left !important;
}

footer {
  direction: ltr;
  text-align: right;
}